@import './variables.scss';
@import './list.scss';
@import './buttons.scss';
@import './nav.scss';
@import './article.scss';

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    padding: 30px;
}

main {
    display: grid;
    align-items: center;
    justify-items: center;
    min-height: 80vh;
    margin-top: 70px;
}

.bg-container {
    grid-row: 1 / 3;
    height: 100%;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-image: url('./../images/illustration-devices.svg');
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;

    &::after {
        content: url('');
        position: absolute;
        width: 50vw;
        height: 50vh;
        background-color: $light-grayish-blue;
        z-index: -1;
        top: 0;
        right: 0;
        border-bottom-left-radius: 50px;
    }

    // img {
    //     width: 100%;
    //     height: 100%;
    //     object-fit: cover;
    // }
}

footer {
    font-family: $barlow-condensed;
    position: absolute;
    bottom: 20px;

    a {
        text-transform: uppercase;
        text-decoration: none;
        color: $dark-grayish-blue;
        font-size: 1.3rem;
        transition: all .4s;

        &:hover, &:visited {
            color: $very-dark-blue;
        }
    }
}

@media screen and (min-width: 1000px) {
    body {
        padding: 30px 150px 0 70px;
    }

    main {
        grid-template-columns: 600px 1fr;
        column-gap: 30px;
        align-items: center;
    }

    .bg-container {
        grid-row: initial;
        background-size: auto;
        max-width: 100vw;
        background: none;

        &::before {
            content: '';
            position: absolute;
            width: 50vw;
            height: 60vh;
            background-image: url('./../images/illustration-devices.svg');
            background-repeat: no-repeat;
            background-size: cover;
            top: 50%;
            bottom: 50%;
            right: 10px;
            margin: auto;
        }
    }
}

