
.header {
    position: relative;

    .modal {
        position: absolute;
        top: 60px;
        z-index: 2;
    }
}

.nav {
    display: flex;   
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}